@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

html {
  background-color: #aeddab;
  font-family: 'Nanum Gothic Coding', monospace;
}

header {
  display: grid;
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1;
  justify-content: center;
  font-size: 2em;  
}

main {
  margin: 8px;
}

img {
  width: 500px;
  height: 600px;
}

.logo {
  width: 500px;
  height: 600px;
}

.main_image {
  width: 700px;
  height: 500px;
}

picture {
  image-rendering: auto;
}

form {
  display: grid;
  width: 50%;
  justify-content: end;
}

li {
  list-style: none;
  gap: 6px;
  
}

button {
  margin: 4px;
  width: 50%;
  
}

.container_main {
  background-color: #aeddab;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;    
}

.container_sec {
  background-color: #aeddab;
  display: grid;
  justify-content: center; 
}

footer {
  display: grid;
  margin: 6px;
  font-size: 1em;
  background-color: #aeddab;
  justify-content: center;

}
  